{% extends 'base.html.twig' %}

{% block title %}Nouvelle structure{% endblock %}

{% block body %}
    <h1><picto class="structure-picto"></picto>Nouvelle structure</h1>

    {{ include('structure/_form.html.twig') }}

{% endblock %}
