{% extends 'base.html.twig' %}

{% block title %}Modifier métier{% endblock %}

{% block body %}
    <h1>Modifier métier <span>{{ metier }}</span></h1>

    {{ include('parametres/metier/_form.html.twig') }}
    {{ include('parametres/metier/_delete_form.html.twig') }}
{% endblock %}
