{% extends 'base.html.twig' %}

{% block title %}Nouvelle modalité de contact{% endblock %}

{% block body %}
    <h1>Nouvelle modalité de contact</h1>

    {{ include('parametres/modaliteContact/_form.html.twig') }}

{% endblock %}
