{% extends 'base.html.twig' %}

{% block title %}Nouvelle action{% endblock %}

{% block body %}
    <h1><picto class="action-picto"></picto>Nouvelle action</h1>

    {{ include('action/_form.html.twig') }}

{% endblock %}
