<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="uRynjPE4vuvoNSEq_fXGn3V9SfNeR5c0yt_7-r6CxUc" />
    <title>{% block title %}{% endblock %}</title>

    {% block stylesheets %}
    {% endblock %}

    {% block importmap %}
        {{ importmap('app') }}
    {% endblock %}

    {% block javascripts %}{% endblock %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

<body>
{{ include('partials/menu.html.twig') }}

<div class="container mb-5">
    {{ include('partials/flash.html.twig') }}
    {% block body %}{% endblock %}
</div>
</body>
</html>
