<div class="col-md-3 col-sm-6">
    <div class="atdec-alerte">
        <div class="title"><i class="far fa-bell me-2"></i>{{ alerte.titre }}</div>
        <div>
            <div class="row command">
                <div class="col-6">
                    <a href="{{ path('app_dashboard_disable_alerte', {id: alerte.id}) }}" title="Désactiver l'alerte"><i class="far fa-bell-slash disable-alerte"></i></a>
                </div>
                <div class="col-6 text-end">{{ alerte.date.format('d/m/Y') }}</div>
            </div>
            <div class="value-normal">{{ alerte.description |nl2br }}</div>
        </div>
    </div>
</div>
